* text=auto eol=lf
*.png binary
*.jpg binary
*.JPG binary
*.jpeg binary
*.gif binary
*.webp binary
*.mp4 binary
*.webm binary
*.pdf binary
*.ico binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary
*.db binary
